rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // คนไข้ต้องสามารถอ่านข้อมูลตัวเองและอัปเดตสถานะได้
    match /patients/{patientId} {
      allow read, write: if true;
    }
    // คนไข้ส่งแบบประเมินได้, แต่การดูข้อมูลย้อนหลังต้องเป็นเจ้าหน้าที่
    match /assessments/{assessmentId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
    }
    // เฉพาะเจ้าหน้าที่ (ที่ล็อกอินแล้ว) จัดการข้อมูลพนักงานได้
    // เฉพาะเจ้าหน้าที่ (ที่ล็อกอินแล้ว) จัดการข้อมูลพนักงานได้
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }
    // อนุญาตให้อ่านการตั้งค่าระบบ (เช่น assessmentConfig) ได้โดยไม่ต้องล็อกอิน
    match /systemSettings/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
